@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 1.3;
	background: #fff;
	color: #000;
	min-width: 576px;
}

h1 {
	margin: 20px 0;
}

h2,
h3 {
	margin-bottom: 15px;
}

.btn,
.form-control {
	font-size: 14px;
}

.login-form h2 {
	text-align: center;
	margin: 30px 0;
}

.navbar a {
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
}

.logout-block > span {
	color: #fff;
	margin-right: 5px;
}

.notification {
	background: white;
	font-size: 16px;
	border: 2px solid grey;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px 20px;
	margin: 50px 0 10px 0;
	position: relative;
}

.notification.success,
.notification.success > span {
	border-color: #8bc34a;
}

.notification.failure,
.notification.failure > span {
	border-color: #f44336;
}

.notification > span {
	width: -webkit-calc(100% + 4px);
	width: -moz-calc(100% + 4px);
	width: calc(100% + 4px);
	height: 50px;
	color: white;
	line-height: 50px;
	background: grey;
	padding: 0 20px;
	border: 2px solid grey;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-transform: capitalize;
	position: absolute;
	top: -50px;
	left: -2px;
}

.notification.success > span {
	background: #8bc34a;
}

.notification.failure > span {
	background: #f44336;
}

.create-new-blog-form {
	margin-bottom: 10px;
}

.blog-list {
	margin-top: 20px;
}

.blog-list > a {
	display: block;
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #89b9ff;
	padding: 15px 20px;
}

.blog-list > a:first-child {
	border-top: 2px solid #89b9ff;
}

.blog-list > a:nth-child(odd) {
	background: #e2eeff;
}

.blog-list > a:hover {
	text-decoration: underline;
}

.blog h2 .blog-author {
	font-size: 20px;
}

.blog-contents {
	margin-bottom: 20px;
}

.blog-contents .blog-url {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

.blog-contents .blog-likes {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.blog-contents .blog-likes > p {
	font-size: 16px;
	margin: 0 7px 0 0;
}

.blog-contents .blog-user {
	font-size: 16px;
}

#add-like-button {
	color: #e91e63;
	border-color: #e91e63;
	background: #fff;
}

#add-like-button > .heart-icon {
	color: #e91e63;
}

#add-like-button:hover {
	color: #fff;
	background: #e91e63;
}

#add-like-button:hover > .heart-icon {
	color: #fff;
}

.blog-comments h3 {
	margin: 40px 0 20px 0;
}

.blog-comments .comments-form {
	display: flex;
	width: 450px;
	margin-bottom: 20px;
}

#add-comment-button {
	white-space: nowrap;
	margin-left: 7px;
}

.blog-comments .comments-list {
	list-style: none;
	padding: 0;
}

.blog-comments .comments-list > .comment {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.blog-comments .comments-list > .comment > .chat-icon {
	color: #0d6efd;
	width: 20px;
	height: 20px;
}

.blog-comments .comments-list > .comment > span {
	padding-left: 12px;
}

#users-table > thead,
#users-table > tbody,
#users-table > tbody > tr,
#users-table > tbody > tr > td {
	border-width: 2px;
	border-color: #89b9ff;
}

#users-table > thead {
	font-size: 16px;
	border: 0;
}

#users-table > tbody > tr > td {
	padding: 15px 20px;
}

#users-table > tbody > tr > td > a {
	color: #000;
	text-decoration: none;
}

#users-table > tbody > tr:hover > td > a {
	text-decoration: underline;
}

#users-table > tbody > tr:nth-child(odd) > td {
	background: #e2eeff;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
	--bs-table-bg-type: none;
}
