.search-field {
    margin-bottom: 20px;
}

.notification {
    color: blue;
}

ul.countries-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.countries-list li {
    margin-bottom: 5px;
}

.country-description > div {
    margin-bottom: 10px;
}

.country-description .flag {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.country-description .flag img {
    width: auto;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.country-description .languages ul {
    margin: 10px 0;
}

.country-description .languages ul li {
    margin-bottom: 5px;
}
